
  .blur{
    opacity:0.5;
  }
.Card{
    margin: 15px auto !important;
    padding:0 !important;
    width:82%!important;
    box-shadow: 2px 2px 4px #30ffe7;
}
.NgoCard{
    margin: 15px auto !important;
    padding:0 !important;
    width:80%!important;
}
.CardHeader{
    font-size: 350%;
}
.SideCardHeader{
    font-size: 150%;
}
.bot {
    bottom: 0;
    right : 0;
    position: fixed;
    width: 350px;
    z-index: 1000;
    opacity: 1;
    outline: none;
  } 
  .btn {
    font-size: 18px;
    float: right;
    color:white;
    border: 1px solid white;
    height:50%!important;
    width: 45%;
    text-align:center;
    margin:8px;
    padding:40px;
    border-radius:50%;
    background-color:#17a2b8;
    outline:none;
  }
  .btn:active{
    color:#17a2b8;
    border:3px solid #17a2b8;
    font-weight: bold;
    background-color: white;
  }
  button:focus{
    outline:none!important;
   }
  @media (max-width:830px){
    .btn{
      width:28%;
      font-size:15px;
      padding:20px;
    }
  }