.App {
  margin-top: 70px;
}
.blur{
  opacity:0.5;
}
a:active {
  color: white;
}

body {
  font-size: 20px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(28, 18, 78);
  color: white;
  padding: 20px;
}

.main {
  display: grid;
  height: 800px;    
  padding-top: 130px;
  /* grid-template-columns: 1fr 6fr; */
  grid-template-columns: repeat(auto-fit, minmax(479px, auto));
}

.nav {
  background-color: rgba(115, 110, 192, 0.466);
  text-align: center;
}

.content {
  background-color: rgba(160, 157, 195, 0.466);
}

.footer {
  height: 400px;
  text-align: center;
  padding: 20px;
  background-color: rgb(223, 223, 223);
}

.bot {
  bottom: 0;
  right : 0;
  position: fixed;
  width: 350px;
  z-index: 7;
  opacity: 1;
  outline: none;
}

.btn {
  font-size: 20px;
  float: right;
  color:white;
  border: 1px solid white;
  height:70%!important;
  width: 50%;
  text-align:center;
  margin:8px;
  padding:40px;
  border-radius:50%;
  background-color:#17a2b8;
  outline:none;
}
.btn:active{
  color:#17a2b8;
  border:3px solid #17a2b8;
  font-weight: bold;
  background-color: white;
}
button:focus{
  outline:none!important;
 }
@media (max-width:830px){
  .btn{
    width:30%;
    font-size:15px;
    padding:20px;
  }
}